$espaciado: 5px;
$caja_footer:100%;

.encabezado{
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    
}
.encabezado__colores--fondo{
    color: white;
    background-color: darkblue;
    border: 2px solid black;

}
.encabezado__letra--padding{
    padding-top: $espaciado*0;
   
}
.encabezado__colores--letra{
    color: black;
}
.padding-Izq{
 padding-left: $espaciado*4;
 padding-top: $espaciado*4;
}

.margin-Top{
    margin-top: $espaciado*10;
    margin-bottom: $espaciado*10;
}
.margin-Icon{
    margin-bottom: $espaciado*5;
}
.nosotros-Link{
    text-align: center;
    text-decoration: none;
    color: black;
}